<style type="text/css">
  .btn-pantone-s {
    background: #F7D571;
  }

  .btn-pantone-s:hover,
  .btn-pantone-s:active,
  .btn-pantone-s:focus {
    background: #F4C53D;
  }

  .btn-ayuda-s {
    background: #F7D571;
    color: #000;
    font-weight: bold;
    font-size: 10pt;
  }

  .btn-ayuda-s2 {
    background: #F7D571;
    color: #000;
    font-weight: bold;
    font-size: 15pt;
  }

  .campo {
    color: #333;
  }

  strong {
    font-weight: bold;
  }

  monto {
    font-size: 12pt;
    font-size: 13pt;
    font-weight: bold;
  }

  .ayudaColor {
    background-color: #F7D571;
    font-weight: bold;
  }

  .inputSerie {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: solid 2px #fac430;
  }
  
  .modelo{
    text-decoration: underline;
    text-decoration-color:#fac430;
    font-weight: bolder;
  }
  .separador{
    border: 0px;
    border-right: solid 5px #fac430;
    
  }

  .atencion-label{
    color:red;
    font-style: italic;
    font-size: 15px;
  }

  danger {
    font-color: #D9534F;
  }
</style>


<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h3 class="modal-title text-center" style="color: #fac430;"> {{ctrl.titulo}}</h3>
</div>

<div class="modal-body">

  <div class="row" style="padding-left:10px;">

    <div class="col-md-5 col-md-offset-1">
    </div>

    <div class="col-md-10 col-md-offset-1 text-center" style="padding-top: 15px" ng-if="ctrl.mostrar == 0">
      <div class="row">
        <div class="col-md-12">
          <h4><b>Ingresa la serie del aparato principal:</b></h4>
          <br>
        </div>

        <div class="col-md-6 col-md-offset-3 text-center">
          <input type="text" placeholder="Número de Serie" ng-model="ctrl.numeroSerie" validate-on="dirty" ng-model="form.dirty"
            class="form-control inputSerie" style="text-align:center;" required />
          <br><br>
        </div>
        <br>
        <div class="col-md-8 col-md-offset-2 text-center ayudaColor" style="padding:5px;">
          <label><i class="fa fa-info-circle" aria-hidden="true"></i> Si necesitas ayuda para saber la ubicación de la
            serie y el tipo de aparato puedes consultarla aquí:
            <button class="btn btn-ayuda-s btn-sm" type="button" ng-click="ctrl.consultarAyuda()"> Ayuda </button>
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center" style="padding-top: 15px" ng-if="ctrl.mostrar == 1">
      <div class="col-md-8">
        <div class="col-md-12" style="padding: 0px;">
          <div class="col-md-1 text-left">
            <img src="images/engrane.png" style="width:25px; padding:0px;">
          </div>
          <div class="col-md-2 text-left">
            <h4>TV</h4>
          </div>
        </div>
        <div class="col-md-12" style="padding: 0px;">
          <div class="col-md-6 text-left">
            <span class="modelo">Modelo 1</span>
          </div>
          <div class="col-md-6 text-left">
            <span class="modelo">Modelo 2</span>
          </div>
        </div>
        <div class="col-md-12 separador" style="padding: 0px;">
          <div class="col-md-6" style="padding: 0px;">
            <img src="images/stb.jpg" style="width:260px; padding:0px;">
          </div>
          <div class="col-md-6" style="padding: 0px;">
            <img src="images/stb2.jpg" style="width:260px; padding:0px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-1">
            <img src="images/engrane.png" style="width:25px; padding:0px;">
          </div>
          <div class="col-md-2 text-left">
            <h4>INTERNET</h4>
          </div>
        </div>
        <img src="images/internet.jpg" style="width:270px; padding:0px;">
      </div>
      <div class="col-md-12 ayudaColor" style="padding:5px;margin-top: 10px;">
        <button class="btn btn-ayuda-s2 btn-sm" type="button" ng-click="ctrl.consultarAyuda()">
          <i class="fa fa-arrow-left"></i> Regresar </button>
        <h3><b>¿Necesitas más ayuda?</b></h3>
        <h4> <b>Atención a clientes:01 800 700 (STAR) 7827</b> </h5>
      </div>
    </div>



    <div class="col-md-10 col-md-offset-1 text-center" style="padding-top: 15px" ng-if="ctrl.mostrar == 2">
      <div class="col-md-offset-1 col-md-10  text-center" style="padding:5px;">
        <label style="font-size: 15pt"><b> ¡Correcto! la validación se hizo correctamente, ahora puedes modificar tu correo con el que puedes
          accesar al sistema </b></label>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Correo Electrónico actual:</h4>
        </div>
        <div class="col-md-offset-3 col-md-6 text-center">
          <input type="text" placeholder="Correo" ng-model="ctrl.correoActual" validate-on="dirty" ng-model="form.dirty"
            class="form-control inputSerie" required-message="'El usuario es obligatorio.'" validate-on="dirty" style="text-align:center;"
            required />
          <br><br>
        </div>
        <br>
        <div class="col-md-offset-1 col-md-10 text-center" style="padding:5px;">
          <h5>
            <span class="atencion-label">¡Atención! Este es el correo de acceso al sistema, al modificarlo tendrás que acceder con el
              nuevo correo registrado.</span>
          </h5>
          </label>
          <h5 class="atencion-label">(Al aceptar te enviaremos un correo con tus nuevas credenciales de acceso)</h5>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-pantone-s btn-sm" type="button" ng-click="ctrl.validarSerie()" ng-if="ctrl.mostrar < 2"> <b>Validar
      Serie</b></button>
  <button class="btn btn-pantone-s btn-sm" type="button" ng-click="ctrl.cambiarEmail()" ng-if="ctrl.mostrar == 2"> <b>Cambiar
      email</b></button>
  <button class="btn btn-pantone-s btn-sm" type="button" ng-click="ctrl.cancel()">Salir</button>
</div>