<style type="text/css">
  th {
    font-size: 12px;
    font-color: #333;
  }

  strong {
    font-weight: bold;
  }

  contrato {
    font-size: 12.2pt;
    text-align: center;
  }

  nombre {
    font-size: 11.7pt;
  }

  .wrapper {
    height: 140px;
    overflow: auto;
  }

  .esmeralda {
    background-color: #DDEAE9;
  }

  .sizeTd {
    padding: 5px !important;
    font-size: 12px
  }

  .right {
    text-align: right;
  }

  .btn-pantone {
    color: white;
    font-weight: bold;
    background-color: #000;
    /*pantone 123*/

  }

  .btn-pantone_soft {
    background-color: #FCECC0;
    /*pantone 123*/
  }

  .btn-orange {
    color: black;
    font-weight: bold;
    background-color: #fac430;
    /*pantone 123*/
  }

  .card-head-color {
    background-color: #fac430;
    /*pantone 123*/
    font-size: 25px;
  }

  .btn-pantone_soft:hover,
  .btn-pantone_soft:active,
  .btn-pantone_soft:focus {
    background: #000;
  }
</style>
<!--data-cancel="cancelCallback" data-complete="completeCallback(resultIndicator, sessionVersion)" -->

<script src="https://banamex.dialectpayments.com/checkout/version/42/checkout.js" data-error="errorCallback"
  data-cancel="cancelCallback">
  </script>
<!-- 



<script type="text/javascript">
 function errorCallback(error) {
        console.log(JSON.stringify(error));
    }
    function cancelCallback() {
        console.log('Payment cancelled');
    }
</script> -->

<div id="pdfreportimages" style="display:none">
  <img crossorigin="" src="images/StarGo_logo140.png" id="pdflogoimage">
</div>
<div style="display:none">
  <img crossorigin="" src="images/StarGo_logo.png" id="reciboLogo">
</div>

<div class="card" style="margin-top:20px;padding-bottom: 30px">
  <div class="card-head card-head-color">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;color:#000;font-size: 22px">Pago en Línea</strong>
    </header>
  </div>
  <div class="section-body">

    <div class="col-md-12" style="padding-top:10px; padding-left: 10px">
      <div class="col-md-12">

        <p class="text-center" style="color:red;" ng-show="ctrl.showFiscales">EL CLIENTE CUENTA CON DATOS FISCALES</p>
        <!--<p style="font-size: 10px;">-->
        <contrato> <strong> Contrato: </strong> {{ $ctrl.Cliente.ContratoCompuesto }}</contrato><br />
        <nombre> <strong> Nombre: </strong> {{ $ctrl.Cliente.Nombre }} </nombre><br />
        </p>

      </div>
    </div>



    <div class="col-md-12" style="padding: 25px; ">

      <div class="panel form-element-padding">

        <div class="table-responsive" style="padding-left: 8px; width: 100%">
          <table class="table table-bordered">
            <thead>
              <tr style="background-color: #D7D7D7;">
                <th>Aparato</th>
                <th>Concepto</th>
                <!-- <th>Pagos Adelantados</th> -->
                <th>Tv's Extra</th>
                <th>Meses Cortesia</th>
                <th>Meses a Pagar</th>
                <th>Importe</th>
                <th title="Periodo Pagado Inicial">Periodo PI</th>
                <th title="Periodo Pagado Final">Periodo PF</th>
                <th title="Puntos Aplicados Por Pago Oportuno">Puntos APPO</th>
                <th title="Puntos Aplicados Por Antiguedad">Puntos APA</th>
                <th title="Puntos Aplicados Por Pagos Adelantados">Puntos APPA</th>
                <th>Puntos Combo</th>
                <th>Importe a Bonificar</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in $ctrl.detallePago" ng-click="$ctrl.guardaconcepto(x,$index)" ng-class="x.isChecked == true ? 'esmeralda':''">
                <td class="sizeTd">{{ x.MacCableModem }}</td>
                <td class="sizeTd" style="width:170px;">{{ x.DESCORTA }} <button class="btn ink-reaction btn-icon-toggle btn-primary btn-xs "
                    ng-click="ctrl.InformacionCobro(x);"><i class="md md-help"></i></buttontn>
                </td>
                <!--    <td class="sizeTd">
                          <button class="btn btn-xs btn-pantone_soft" ng-if="x.Pagos_Adelantados != null" ng-disabled="ctrl.blockBaja" ng-click="$ctrl.adelantaPagos(x)">{{ x.Pagos_Adelantados }}</button>
                        </td> -->
                <td class="sizeTd right">{{ x.tvAdic }}</td>
                <td class="sizeTd right">{{ x.Meses_Cortesia }}</td>
                <td class="sizeTd right">{{ x.mesesApagar }}</td>
                <td class="sizeTd right" style="width:90px;">{{ x.importe | currency }}</td>
                <td class="sizeTd ">{{ x.periodoPagadoIni }}</td>
                <td class="sizeTd">{{ x.periodoPagadoFin }}</td>
                <td class="sizeTd right">{{ x.PuntosAplicadosOtros }}</td>
                <td class="sizeTd right">{{ x.puntosAplicadosAnt }}</td>
                <td class="sizeTd right">{{ x.PuntosAplicadosPagoAdelantado }}</td>
                <td class="sizeTd right">{{ x.bonificacion }}</td>
                <td class="sizeTd right">{{ x.importeBonifica }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row" style="padding-top: 10px">
          <div class="col-md-5">
            <div style="padding-left: 10px; padding-top: 10px;margin-top:35px">
              <b>NOTA:
                <ul>
                  <li>El cargo a tu tarjeta de crédito o débito será por única ocasión, lo cual significa que no
                    guardaremos
                    tus datos bancarios y tu tarjeta no quedará domiciliada.</li>
                  <li>Se recomienda conservar el comprobante de pago para realizar cualquier aclaración.</li>
                  <li>Ten en cuenta que una vez realizado el pago no habrá devoluciones.</li>
                  <li>Para cualquier duda o aclaración comunícate a 01800 700 7827.</li>
                  <li>Si requieres factura fiscal, es necesario que tengas capturados tus datos fiscales en el sistema antes de realizar tu pago. Llama al 01800 700 827 o a tu distribuidor para actualizar tus datos.</li>
                </ul>
              </b>
            </div>
          </div>
          <div class="col-md-3">
            <div style="padding-left: 10px; padding-top: 10px;margin-top:35px">
            </div>
          </div>
          <div class="col-md-4">
            <table class="table">
              <tr ng-repeat="x in $ctrl.sumaPagos">
                <td style="font-size: 13px;" ng-if="!$last" class="right">
                  <strnt-song>{{ x.Descripcion }}</strong>
                </td>
                <td style="font-size: 18px;" ng-if="$last" class="right"><strong>{{ x.Descripcion }}</strong></td>
                <td style="font-size: 13px;" ng-if="!$last" class="right"> {{ x.Total | currency }} </td>
                <td style="font-size: 18px;" ng-if="$last" class="right" id="importeTotal"><strong> {{ x.Total |
                    currency }}</p></strong></td>
              </tr>
            </table>
            <div class="row" style="padding-right:20px;">
              <p class="text-right">
    
                <!--password, userid, sessionId, merchantId-->
                <input type="text" ng-model="$ctrl.sessionCobra" ng-hide="$ctrl.inputHide">
                <input type="text" ng-model="$ctrl.valCheckout" ng-hide="$ctrl.inputHide">
                <input type="text" ng-model="$ctrl.valPassword" ng-hide="$ctrl.inputHide">
                <input type="text" ng-model="$ctrl.valUserId" ng-hide="$ctrl.inputHide">
                <input type="text" ng-model="$ctrl.valMerchantId" ng-hide="$ctrl.inputHide">
    
    
               <div class="col-md-12" align="right">
                  <button class="btn btn-lg btn-sm btn-pantone" ng-click="$ctrl.pagar()" ng-disabled="$ctrl.blockPagar"><b>Realizar
                      Pago</b> </button>
                </div> 
    
             <!--    <div class="col-md-12" align="right">
                  <button class="btn btn-lg btn-sm btn-pantone" ng-click="$ctrl.prueba()" ng-disabled="$ctrl.blockPagar"><b>Realizar
                      PRUEBA</b> </button>
                   <input type="text" ng-model="$ctrl.sessionBanco">

                </div> -->


              </p>
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>